王佳/week09/作业2/意图识别+RAG问答系统.yml
app:
  description: 基于意图识别的多知识库问答系统
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 意图识别+RAG问答系统
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774533068992-source-1774533460025-target
      source: '1774533068992'
      sourceHandle: source
      target: '1774533460025'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1774533460025-source-1774533527659-target
      source: '1774533460025'
      sourceHandle: source
      target: '1774533527659'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774533527659-true-1774533951285-target
      source: '1774533527659'
      sourceHandle: 'true'
      target: '1774533951285'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774533527659-false-1774533967211-target
      source: '1774533527659'
      sourceHandle: 'false'
      target: '1774533967211'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774533527659-4bdb28b7-863f-4736-9000-92037fe22317-1774533980129-target
      source: '1774533527659'
      sourceHandle: 4bdb28b7-863f-4736-9000-92037fe22317
      target: '1774533980129'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774533967211-source-1774533987765-target
      source: '1774533967211'
      sourceHandle: source
      target: '1774533987765'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: end
      id: 1774533951285-source-1774534088127-target
      source: '1774533951285'
      sourceHandle: source
      target: '1774534088127'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: end
      id: 1774533980129-source-1774534090888-target
      source: '1774533980129'
      sourceHandle: source
      target: '1774534090888'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户问题
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: query
      height: 108
      id: '1774533068992'
      position:
        x: 397
        y: 333
      positionAbsolute:
        x: 397
        y: 333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774533068992'
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 3c66adbf-dec6-44e2-bd94-e212301fe1a2
          role: system
          text: '你是一个意图识别助手。请判断用户问题属于哪一类：

            - ml: 机器学习问题（如 SVM、决策树、随机森林、聚类、梯度下降等）

            - llm: 大模型问题（如 Transformer、GPT、BERT、注意力机制、Prompt Engineering 等）

            - other: 其他问题


            只返回一个单词：ml 或 llm 或 other'
        - id: ff391e0c-0b41-4892-a2da-1d087f9adcb9
          role: user
          text: '{{#1774533068992.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              intent:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774533460025'
      position:
        x: 699
        y: 333
      positionAbsolute:
        x: 699
        y: 333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 0ccec8a8-4478-4941-a563-c3a3217635b3
            value: ml
            varType: string
            variable_selector:
            - '1774533460025'
            - structured_output
            - intent
          id: 'true'
          logical_operator: and
        - case_id: 4bdb28b7-863f-4736-9000-92037fe22317
          conditions:
          - comparison_operator: contains
            id: 4cd234b8-f0fd-433b-8e3f-cd7dbd41c75a
            value: llm
            varType: string
            variable_selector:
            - '1774533460025'
            - structured_output
            - intent
          id: 4bdb28b7-863f-4736-9000-92037fe22317
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 219
      id: '1774533527659'
      position:
        x: 992
        y: 333
      positionAbsolute:
        x: 992
        y: 333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - ZcksFE/TTtYsogm/lv7KUoLPgwT0EX7tfmniNlwJHLu03u4Hy77v5dxplZeNRWNO
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774533068992'
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 89
      id: '1774533951285'
      position:
        x: 1293
        y: 333
      positionAbsolute:
        x: 1293
        y: 333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774533068992'
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: daebecd8-bf8a-4aef-86a2-8701fbec6c58
          role: system
          text: '你是机器学习专家。请根据以下知识回答问题，要求专业、准确。


            相关知识：

            {{#检索机器学习知识.output#}}


            用户问题：{{#开始.query#}}


            回答：'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              answer:
                type: string
            required: []
            type: object
        structured_output_enabled: true
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774533967211'
      position:
        x: 1293
        y: 549
      positionAbsolute:
        x: 1293
        y: 549
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - /2VU2jvqYkWff2omtJzkFbb5rZ5w2P5gVDnd+cM6keql08MBGB7e02f/y9f6hw+a
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774533068992'
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 89
      id: '1774533980129'
      position:
        x: 1305.6356819049672
        y: 439.5168372256078
      positionAbsolute:
        x: 1305.6356819049672
        y: 439.5168372256078
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1774533967211'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1774533987765'
      position:
        x: 1594
        y: 549
      positionAbsolute:
        x: 1594
        y: 549
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1774533951285'
          - result
          value_type: array[object]
          variable: result
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1774534088127'
      position:
        x: 1594
        y: 333
      positionAbsolute:
        x: 1594
        y: 333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1774533980129'
          - result
          value_type: array[object]
          variable: result
        selected: false
        title: 输出 3
        type: end
      height: 87
      id: '1774534090888'
      position:
        x: 1606.6356819049672
        y: 439.5168372256078
      positionAbsolute:
        x: 1606.6356819049672
        y: 439.5168372256078
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -187.40826680768532
      y: 54.59541666230734
      zoom: 0.6597539553864477
  rag_pipeline_variables: []
