王佳/week09/作业1/作业1-体脂健康建议.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 作业1-体脂健康建议
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1750247789086-source-1750247864708-target
      source: '1750247789086'
      sourceHandle: source
      target: '1750247864708'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1750247864708-source-1750248183676-target
      source: '1750247864708'
      sourceHandle: source
      target: '1750248183676'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1750248183676-source-1750248311782-target
      source: '1750248183676'
      sourceHandle: source
      target: '1750248311782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1750248311782-source-1750248397090-target
      selected: false
      source: '1750248311782'
      sourceHandle: source
      target: '1750248397090'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 性别
          max_length: 48
          options:
          - 男
          - 女
          required: true
          type: select
          variable: sex
        - label: 身高（cm）
          max_length: 48
          options: []
          required: true
          type: number
          variable: height
        - label: 体重（kg）
          max_length: 48
          options: []
          required: true
          type: number
          variable: weight
        - default: ''
          hint: ''
          label: 年龄
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
      height: 186
      id: '1750247789086'
      position:
        x: -168.54129912175947
        y: 331.1309477828468
      positionAbsolute:
        x: -168.54129912175947
        y: 331.1309477828468
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(sex: str, height: int, weight: int, age: int) -> dict:\n \
          \   # 根据性别选择不同的体脂率计算公式\n    if sex.lower() == '男':\n        # 男性体脂率计算公式\n\
          \        body_fat_percentage = 1.2 * (weight / (height / 100) ** 2) + 0.23\
          \ * age - 16.2\n    elif sex.lower() == '女':\n        # 女性体脂率计算公式\n    \
          \    body_fat_percentage = 1.2 * (weight / (height / 100) ** 2) + 0.23 *\
          \ age - 5.4\n\n    # 确保体脂率在合理范围内\n    if body_fat_percentage < 0:\n    \
          \    body_fat_percentage = 0\n    elif body_fat_percentage > 100:\n    \
          \    body_fat_percentage = 100\n\n    # 根据不同年龄段和性别判断体脂等级\n    health_level,\
          \ advice = get_health_advice(body_fat_percentage, age, sex)\n\n    return\
          \ {\n        \"body_fat_percentage\": round(body_fat_percentage, 2),\n \
          \       \"health_level\": health_level,\n        \"advice\": advice\n  \
          \  }\n\ndef get_health_advice(body_fat: float, age: int, sex: str) -> tuple:\n\
          \    \"\"\"\n    根据体脂率、年龄和性别提供健康建议\n    \"\"\"\n    # 不同年龄段的正常体脂范围\n   \
          \ if age < 30:\n        if sex == '男':\n            excellent = (6, 14)\n\
          \            normal = (8, 20)\n        else:\n            excellent = (14,\
          \ 20)\n            normal = (16, 24)\n    elif age < 50:\n        if sex\
          \ == '男':\n            excellent = (8, 16)\n            normal = (10, 22)\n\
          \        else:\n            excellent = (16, 22)\n            normal = (18,\
          \ 26)\n    else:\n        if sex == '男':\n            excellent = (10, 18)\n\
          \            normal = (12, 25)\n        else:\n            excellent = (18,\
          \ 24)\n            normal = (20, 28)\n\n    # 判断体脂等级并生成建议\n    if body_fat\
          \ < excellent[0]:\n        level = \"过低\"\n        advice = \"您的体脂率非常低，建议适当增加营养摄入，结合力量训练增肌。\"\
          \n    elif body_fat < normal[0]:\n        level = \"优秀\"\n        advice\
          \ = \"体脂率很棒！保持当前的饮食和运动习惯即可。\"\n    elif body_fat <= normal[1]:\n       \
          \ level = \"正常\"\n        advice = \"体脂率在正常范围内，继续保持健康的生活方式。\"\n    elif\
          \ body_fat <= normal[1] + 5:\n        level = \"偏高\"\n        advice = \"\
          体脂率略高，建议增加有氧运动，控制高热量食物，每周减重 0.5-1kg。\"\n    else:\n        level = \"过高\"\
          \n        advice = \"体脂率明显超标，建议制定科学减脂计划，咨询专业健身教练或营养师。\"\n\n        # 根据年龄添加特别提示\n\
          \    if age < 18:\n        advice += \"\\n【青少年提示】身体还在发育中，不要过度节食，保证充足营养和睡眠。\"\
          \n    elif age >= 50:\n        advice += \"\\n【中老年提示】新陈代谢减慢，建议增加力量训练防止肌肉流失，注意补充钙质。\"\
          \n\n    return level, advice"
        code_language: python3
        desc: ''
        outputs:
          advice:
            children: null
            type: string
          body_fat_percentage:
            children: null
            type: number
          health_level:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247789086'
          - age
          value_type: number
          variable: age
      height: 51
      id: '1750247864708'
      position:
        x: 119.37959695587244
        y: 442.91994626078304
      positionAbsolute:
        x: 119.37959695587244
        y: 442.91994626078304
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: qwen2.5-72b-instruct
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: f3024c0a-017c-4519-96d8-a53a4e2a62c5
          role: system
          text: 你是营养专家，请结合用户的体脂比状态给出有效的建议。
        - id: f78173fa-6b4e-4f0b-9728-b39614a2d899
          role: user
          text: '性别：{{#1750247789086.sex#}}

            身高：{{#1750247789086.height#}}

            体重：{{#1750247789086.weight#}}

            年龄：{{#1750247789086.age#}}

            体脂比：{{#1750247864708.body_fat_percentage#}}

            体质等级：{{#1750247864708.health_level#}}

            健康建议：{{#1750247864708.advice#}}

            '
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1750248183676'
      position:
        x: 218
        y: 520.1696554776656
      positionAbsolute:
        x: 218
        y: 520.1696554776656
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        selected: false
        template: '## 用户基本信息

          - 性别 {{ sex }}

          - 身高 {{ height }}

          - 体重 {{ weight }}

          - 年龄 {{ age }}


          ## 体脂比

          {{ body_fat_percentage }}


          ## 健康等级

          {{ health_level }}


          ## 健康建议


          {{ text }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247864708'
          - body_fat_percentage
          variable: body_fat_percentage
        - value_selector:
          - '1750248183676'
          - text
          variable: text
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247864708'
          - health_level
          value_type: string
          variable: health_level
        - value_selector:
          - '1750247864708'
          - advice
          value_type: string
          variable: advice
        - value_selector:
          - '1750247789086'
          - age
          value_type: number
          variable: age
      height: 51
      id: '1750248311782'
      position:
        x: 360.75285830531686
        y: 352.1309477828468
      positionAbsolute:
        x: 360.75285830531686
        y: 352.1309477828468
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1750248311782'
          - output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 87
      id: '1750248397090'
      position:
        x: 507
        y: 431
      positionAbsolute:
        x: 507
        y: 431
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 265.3479520353063
      y: -125.18677436311577
      zoom: 0.9999999999999999
  rag_pipeline_variables: []
